{% extends "base.html" %}
{% block title %}
    Id Grabber for Wordpress Site via URL - By Muhammad Basurah
{% endblock %}
{% block content %}
    <h1>Id Grabber for Wordpress Site via URL</h1>
    <br>
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="useOption" id="url"  value="url" checked>
            <label class="form-check-label" for="url">
                Scrap using Url(s)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="useOption" id="csv" value="csv">
            <label class="form-check-label" for="csv">
                Scrap using CSV
            </label>
        </div>
        <h2>With URL: </h2>
        <div class="input-group">
            <span class="input-group-text">URl List</span>
            <textarea class="form-control" aria-label="With textarea" type="text" name="links"></textarea>
        </div>
        <br>
        <h2>Or CSV:</h2>
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".csv" name="csv">
        </div>
        <br>
        <input type="submit" class="btn btn-light" value="Submit">
    </form>
{% endblock %}