{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <!-- html goes here -->
    <h1>Tidak ada query string!</h1> 
    <ul>
        <li>url=LINK</li>
        <li>story=(y/n)</li>
        <li>acc=(1 -> motivasi/ 2 -> mobil)</li>
    </ul>
    <h2>What todo:</h2>
    <ul>
        <li>ready to on 24/7 to upload 10 story and 3 photo each day. (try for 1-2 day first. 30 link needed)</li>
        <li>scrap 300 rell</li>
        <li>let it upload every day.</li>
    </ul>
{% endblock %}